body {
    font-family: 'Work Sans', sans-serif;
}

/* header styles */

header {
    background: rgba(255, 144, 14, 0.10);
    padding: 20px 240px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav li {
    list-style: none;
    margin-left: 70px;

}

nav a {
    text-decoration: none;
    color: var(--Dark-02, #424242);
    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
}

nav>ul {
    display: flex;
}

.nav-main-title {
    color: var(--Dark-01, #131313);
    text-align: center;
    font-family: Work Sans;
    font-size: 30px;
    font-weight: 700;
}

.banner-main-title {
    color: var(--Dark-01, #131313);

    font-family: Work Sans;
    font-size: 40px;
    font-weight: 700;
}

.banner-sub-title {
    color: var(--Dark-03, #727272);
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    /* 162.5% */
}

.banner {
    padding-top: 50px;
}

.banner-button {
    padding: 20px 25px;
    border: 0px;
    border-radius: 8px;
    background: #FF900E;
    color: #FFF;
    text-align: center;
    font-family: Work Sans;
    font-size: 20px;
    font-weight: 600;
}

.banner-image {
    margin-top: 50px;
    width: 100%;
}

.banner-writting-item {
    /* margin: 0 auto; */
    text-align: center;
}


/* Main styles */

main {
    max-width: 1440px;
    margin: 80px auto;
}

.quick-container {
    display: flex;
    align-items: center;
}

.team {
    width: 200px;
}

.quick-image {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    padding-left: 220px;
}

.quick-text {
    padding-left: 70px;
    padding-right: 150px;
}

.silver-text {
    color: var(--Dark-03, #727272);
    font-family: Work Sans;
    font-size: 3rem;
    font-weight: 500;
}

.black-text {

    font-family: Work Sans;
    font-size: 3rem;
    font-weight: 700;
}

.orange-text {
    color: #FF900E;
    font-family: Work Sans;
    font-size: 3rem;
    font-weight: 700;
}

.quick-sub-text {
    color: var(--Dark-03, #727272);
    font-family: Work Sans;
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
}



/* Shared tag  */

.text-black-fit {
    color: var(--Dark-01, #131313);
    font-family: Work Sans;
    font-size: 3rem;
    font-weight: 700;
}

.text-silver-fit {
    color: var(--Dark-03, #727272);
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}







/* Responsive section */

@media screen and (min-width:992px) and (max-width:1200px) {
    nav {
        flex-direction: column;

    }

    header {
        padding: 80px;
    }

    nav li {
        margin-left: 0px;
        padding-left: 100px;
    }

    nav>ul {
        justify-content: space-between;
        padding: 0px;
    }

}

@media screen and (min-width:576px) and (max-width:992px) {

    nav,
    .quick-container {
        flex-direction: column
    }

    nav>ul {
        padding-left: 0px;
    }

    nav li {
        margin-left: 0px;
        padding-left: 30px;
    }

    header {
        padding: 50px;
    }

    .quick-image {
        padding-left: 10px;
    }

    .quick-text {
        padding-left: 0px;
        padding-right: 0px;
        text-align: center;
    }
}

@media screen and (max-width:576px) {
    .banner-image {
        width: 100%;
    }

    nav,
    .quick-container {
        flex-direction: column;
    }

    nav li {
        margin-left: -50px;
    }

    header {
        padding: 10px;
    }

    nav li a {
        text-align: center;
    }

    nav ul {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .banner {
        padding-top: 40px;
    }

    .quick-image {
        grid-template-columns: repeat(1, 1fr);
        padding-left: 10px;

    }

    .quick-text {
        padding: 0px;
        text-align: center;
    }

}